<html xmlns="https://xineartsolutions.com">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="detail-ui content">
        <h2><%= title %></h2>
        
        <div class="detail-section">
            <div class="detail-row">
                <span class="detail-label">Name:</span>
                <span class="detail-value"><%= school.Name %></span>
            </div>
            
            <div class="detail-row">
                <span class="detail-label">Description:</span>
                <span class="detail-value"><%= school.Description || 'N/A' %></span>
            </div>
            
            <div class="detail-row">
                <span class="detail-label">Requires Invite:</span>
                <span class="detail-value"><%= school.RequiresInvite ? 'Yes' : 'No' %></span>
            </div>
            
            <div class="detail-row">
                <span class="detail-label">Date Created:</span>
                <span class="detail-value"><%= school.DateCreated ? school.DateCreated.split('T')[0] : 'N/A' %></span>
            </div>
        </div>

        <div class="detail-section">
            <h3>Subjects</h3>
            <% if (subjects && subjects.length > 0) { %>
                <ul class="subject-list">
                    <% subjects.forEach(subject => { %>
                        <li><%= subject.Name %><% if (subject.Description) { %> - <span class="subject-description"><%= subject.Description %></span><% } %></li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p class="no-data">No subjects assigned to this school.</p>
            <% } %>
        </div>

        <div class="form-buttons">
            <a href="/schools/update/<%= school.Id %>" class="btn btn-edit">Edit School</a>
            <a href="/schools" class="cancel-button">Back to List</a>
        </div>
    </div>

</body>
<%- include('../partials/footer.ejs') %>
</html>