<html xmlns="https://xineartsolutions.com">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="detail-ui content">
        <h2><%= title %></h2>
        <form action="/schools/delete/<%= school.Id %>" method="POST">
            <div class="form-single">
                <p>Are you sure you want to delete the school "<strong><%= school.Name %></strong>"?</p>
            </div>
            <div class="form-single">
                <p>This action cannot be undone. All associated users and subjects will also be unassigned.</p>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn-danger">Delete School</button>
                <a href="/schools" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
</html>